.BookPageMainSectionWrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 10% 1rem 10%;
  align-items: center;
  box-sizing: border-box;
}

.BookPageTopBooksSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.BookPageTopBooksSectionWrapper h1 {
  font-family: "Gilda Display", serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.BookPageTopBooksWrapper {
    margin: 2rem 0 2rem 0;
    width: 100%;
    display: flex;
    gap: 2rem;
}