.AddToFavouritesBtn {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    font-family: "Gilda Display", serif;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    border: solid 1px black;
    background-color: white;
    color: black;
  }