.AddToFavouritesBtn, .BookItemLinkToLoginBtn {
  height: 50px;
  border-radius: 20px;
  font-family: "Gilda Display", serif;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: linear-gradient(#777773, #3a3932);
  color: white !important;
  }

  
  .WhiteBtn:hover {
    background: linear-gradient(#acaba4, #eeede5);
  }