.LoginWrapper {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

.LoginWrapper h3 {
    font-family: 'Gilda Display', serif;
    font-size: 30px;
    font-weight: 900;
    margin: 0 0 2rem 0;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm label {
    font-family: 'Gilda Display', serif;
    font-size: 18px;
    margin: 0 0 0.5rem 0;
}

.LoginForm input {
    width: 500px;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    border: 0.5px solid black;
    height: 2rem;
}

.LoginFormBtn {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin: 1rem 0 0 0;
    font-family: 'Gilda Display', serif;
    font-weight: 900;
    font-size: 20px;
    border: solid 1px black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.LinkToRegister {
    font-family: 'Gilda Display', serif;
    font-weight: 600;
    margin: 3rem 0 0 0;
    text-decoration: none;
    color: black;
}

.LoginErrorMsg {
    margin: 0;
    color: red;
    font-size: 10px;
}